@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --background: #64C0FF;
  --foreground: #05385A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: 'VT323', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'VT323', monospace;
  text-align: center;
}

canvas {
  border: 4px solid black;
}

audio {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.rules {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 800px;
}

footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
}
